.timer {
  margin: 1rem 0;
  width: 100%;
}

.timer__progress {
  height: 1rem;
  width: 100%;
}

.timer__p__over {
  background: #29d;
  height: 100%;
  transition: all 100ms ease;
}

.timer__label {
  color: maroon;
}
