.game-over-container {
  text-align: center;
}

.game-over-container__header {
  font-size: 1.6rem;
  margin-top: 4rem;
}

.game-over-container__button {
  align-items: center;
  background-color: #24cca8;
  border: none;
  border-radius: 4rem;
  box-shadow: none;
  color: #eee;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  height: 5rem;
  justify-content: center;
  margin: 4rem auto;
  width: 12rem;
}

.game-over-container__status,
.game-over-container__score {
  font-size: 1.4rem;
  margin: 3rem 0;
}

.game-over-container__high-score-label,
.game-over-container__high-score {
  font-size: 1.4rem;
  margin: 1rem 0;
}
